/* Custom Tailwind CSS Here*/
@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    height: 100vh;
    overflow: hidden;
}

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.sect{
    transform: translateY(-100%);
    transition: all .4s ease-in-out;
}

.hero{
    display: none;
    transform: translateY(0) scale(1);
}

.about{
    display: none;
    transform: translateY(0) scale(1);
    @apply bg-fuchsia-700
}

.experience{
    display: none;
    transform: translateY(0) scale(1);
    @apply bg-rose-300
}

.portfolio{
    display: none;
    transform: translateY(0) scale(1);
    @apply bg-rose-700
}

.hire-me{
    display: none;
    transform: translateY(0) scale(1);
    @apply bg-orange-900
}

.active{
    display: block;
    animation: scaleAnim 2s ease-in-out;
    @keyframes scaleAnim {
        0%{
            transform: translateY(-100%) scaleY(0)
        }

        100%{
            transform: translateY(0) scaleY(1)
        }
    }
}

/* Navigation controls */
.active-btn{
    background-color: #4169E1;
    transition: all .4s ease-in-out;
}
.mnav{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}
.control {
    cursor: pointer;
    padding: 1rem;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem 0;

    i{
        font-size: 1.2rem;
        pointer-events: none;
    }
}