<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chester Syron Damian - Friendly Dev </title>

    <!-- Added Links  Stylesheet and Font Family -->
    <link rel="stylesheet" href="../static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="main-content bg-primariy-color text-secondary-color text-base font-poppins ">
    <!-- Navigation -->
    <header class="py-6">
        <!-- Desktop View Navigation -->
        <div class="container flex justify-between items-center mx-auto px-8 w-full">
            <div class="brand text-lg font-bold"><a href="#">CHESTER SYRON DAMIAN</a></div>
            <nav class="dnav-fixed">
                <ul class="flex gap-4">
                    <li><a href="#" class="text-selected">Home</a></li
                    <li><a href="#">About</a></li>
                    <li><a href="#">Experience</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Hire ME</a></li>
                </ul>
            </nav>
        </div>
        <!-- Mobile view Navigation -->
        <nav class="mnav">
            <div class="control control-1 border-2 border-solid border-secondary-color rounded-full shadow-secondary-color active-btn" data-id="hero">
                <i class="fa fa-home" aria-hidden="true"></i>
            </div>
            <div class="control control-3 border-2 border-solid border-secondary-color rounded-full shadow-secondary-color" data-id="about">
                <i class="fa-solid fa-user aria-hidden="true"></i>
            </div>
            <div class="control control-3 border-2 border-solid border-secondary-color rounded-full shadow-secondary-color" data-id="experience">
                <i class="fa fa-history" aria-hidden="true"></i>
            </div>
            <div class="control control-4 border-2 border-solid border-secondary-color rounded-full shadow-secondary-color" data-id="portfolio">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
            </div>
            <div class="control control-5 border-2 border-solid border-secondary-color rounded-full shadow-secondary-color" data-id="hire-me">
                <i class="fa fa-envelope-open" aria-hidden="true"></i>
            </div>
        </nav>
        
        <!-- Hero Section -->
        <section class="hero sect header active" id="hero"></section>

    </header>

    <main>
        <!-- About Me -->
        <section class="about sect " id="about"></section>
        <!-- Experience -->
        <section class="experience sect " id="experience"></section>
        <!-- Portfolio -->
        <section class="portfolio sect " id="portfolio"></section>
        <!-- Hire Me -->
        <section class="hire-me sect " id="hire-me"></section>
    </main>

    <script src="../static/app.js"></script>

</body>
</html>